body{
  background-color:#3D3947; 
  font-family:Arial;
}

h1{
  color:#ffffff; font-size:22px; line-height:0px;
  }
.font{font-family:Scriptina;}
header h2{
  color:#ffffff; font-size:12px; line-height:0px; font-style:italic;
}

i{
  color:#F35100;
  padding-right:10px;
}

.fluid-back {
  background-image:url(images/bg/black.png);
  padding-left:20px;
 /* border-bottom:2px dotted #A3508D;*/
}

.fluid-back-slider {
  background-image:url(images/bg/pink.png);
}

.fluid-back-section{
  background-color:#E7E2DB;
  border-bottom: 3px dotted #c3c1bf;
  padding-bottom:25px;
}


.color, .color a, .color a:hover{ background-color:#25222b !important;color:#fff !important;}
.padding{margin-left:90px}
.fluid-back-section2{
  background-color:#E7E2DB;
}

.logo{
  text-align:left;
  padding-top:10px;
}

.low-opac{
  height:90px;
  padding-top:20px; 
  }
  
.low-opac p{
  color:#ccc; line-height:1.5; font-size:11px; 
  padding-top: 15px; padding-bottom:15px;
  }

.slider-back{
  border-radius: 15px;
  background-image:url(images/bg/pink.png);
  padding-top:5px; padding-bottom:5px; 
  margin-top:10px; margin-bottom:10px;
}

.slider{
  margin-top:20px;
}

.box{
  background-color: #d5d1cb;
  text-align:center;
  border-radius: 15px;
  border: 1px solid #E7E2DB;
  padding-bottom:25px;
  margin-top:25px;
}

.box img{
  width:200px; height:200px; margin:0 auto;
  border:1px dotted #E7E2DB; border-radius: 100px; 
  margin-top:25px;
}

.box h2{
   color:#A3508D; font-style:none; font-size:20px;
  padding-top:10px;
}

.box p{
  font-size:13px;
}

.four-cols{
  padding-bottom:25px;
}

.four-cols p{
  color:#25222B; font-style:none; font-size:13px; text-align:left; line-height:1.2; text-align:center;
}

.four-cols h2{
  color:#414539; font-style:none; font-size:16px; text-align:left; line-height:1.2; text-align:center;
  padding-top:10px;
  border-right: 1px solid #D5D1CB
}

.other{
  text-align:left;
  padding-bottom:25px;
  margin-top:25px; margin-bottom:25px;
  background-image:url(images/bg/pink.png);
  height: 280px; border:1px solid #3D3947; border-radius:15px;
  }

.other h2{
  color: #ffffff; font-size:18px;
}

.other ul{
  margin-left:-30px;
}

.other li, .other p{
  color: #ddd; font-size:13px;
}
.margin-box{margin:30px 10px;}
footer{
  text-align:center; color:#ffffff; font-size:11px;
  background-image:url(images/bg/black.png);
  padding-top:20px; padding-bottom: 35px;
}
.margin-up{margin-top:20px;}
.deco{text-align:center; height:70px;line-height:50px}
.deco a:hover{text-decoration:none;}
#reserve{width:30%;}
.fluid-back-slider1{background-color:#c7c0c0;border-radius:5px;}
.box1{
  width:150px; height:150px; margin:0 auto;
  border:1px dotted #E7E2DB; border-radius: 100px; 

}
.margin-button{margin-top:50px}
.margin-label{margin-top:10px;}
.margin-label1{margin-top:15px;}
